.wrapper {
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  
  width: 80vw;
  background: #fff;
  box-shadow: 4px 4px 10px rgba(0,0,0,.3);
}


.titulo{
  display: inline;
}

.btn-nova-empresa{
  float: right;
  text-decoration: none;
  color: white;
  background-color: #092327;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.btn-nova-empresa:hover{
  color: white;
  text-decoration: underline;
  background-color: #481620;
}

.btn-excluir:hover{
  color: white;
  text-decoration: none;
  background-color: #092327;
}

.header-box{

  padding: 30px;

}

.borda-box{
  border-top: 1px solid black;
}

.body-box{
  padding: 30px;
}

.btn-orange{

  background-color: #00A9A5;
  color: white;
}


.tabela{
  width: 100%;
  margin-top: 20px;
}

.tabela a{
  text-decoration: none;
  color: #4E8098;
}

.tabela a:hover{
  color: #481620;
  text-decoration: underline;
}

.tabela-linha{
  background-color: #eee5e9;
}

.btn-excluir{
  text-decoration: none;
  background-color: #481620;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color:#fff !important;
}