.titulo{

  color: #092327;
  font-weight: bold;

}

.paragrafo{
  font-size: 25px;
}

.btn-orange{

  background-color: #092327;
  color: white;
}

.btn-orange:hover{
  background-color: #ED8554;
  color: #092327;
  text-decoration: underline;
}

label{
  font-weight: bold;
}

.box-vagas{

  width: 400px;
  margin-top: 60px;
  background-color: #EDE6E6;
}

.header-vagas{
  background-color: #092327;
  padding: 15px;
}

.header-vagas a{
  color: white !important;
  text-decoration: none;
}

.header-vagas a:hover{
  color: #ED8554 !important;
  text-decoration: underline;
}

.body-vagas{
  padding: 15px;
}

.paragrafo-orange{
  color: #ED8554;
}